### Machine specific environments. ###

{{- if contains "spiro" .chezmoi.hostname }}
# Linux spiro.
source /opt/tools/Modules/init/bash
source $HOME/.envs/spiro.zsh
{{- end }}

{{- if contains "tanit" .chezmoi.hostname }}
# IBM PowerPC tanit.
source /etc/profile.d/modules.sh
source $HOME/.envs/tanit.zsh
{{- end }}

# EOF
