### Machine specific environments. ###

{{- if contains "spiro" .chezmoi.hostname }}
# Linux spiro.
source /opt/tools/Modules/init/bash
export WKDIR=/stck/jvanhare/wkdir
export PATH=$WKDIR/spiro/bin:$PATH
export no_proxy=.onera.net,.onera.fr,.onecert.fr
export http_proxy=proxy.onera:80
export https_proxy=proxy.onera:80
{{- end }}

{{- if contains "tanit" .chezmoi.hostname }}
# IBM PowerPC tanit.
source /etc/profile.d/modules.sh
export no_proxy=.onera.net,.onera.fr,.onecert.fr
export http_proxy=proxy.onera:80
export https_proxy=proxy.onera:80
{{- end }}

# EOF
