# Machine specific environments. ###############################################

{{- if contains "ldmpe055z" .chezmoi.hostname }}
# CentOS 8 ldmpe055z. ##########################################################
source $HOME/.envs/ldmpe055z.zsh
{{- end }}

{{- if contains "spiro" .chezmoi.hostname }}
# CentOS 7 spiro. ##############################################################
source /opt/tools/Modules/init/bash
source $HOME/.envs/spiro.zsh
{{- end }}

{{- if contains "tanit" .chezmoi.hostname }}
# IBM PowerPC tanit. ###########################################################
source /etc/profile.d/modules.sh
source $HOME/.envs/tanit.zsh
{{- end }}

# EOF. #########################################################################
