# Set the language environment. ################################################
export LANG=en_US.UTF-8
export LC_ALL=$LANG

# Source if and only if the file exists. #######################################
smart_source() {
    if [[ -f "$1" ]]; then
        source "$1" >/dev/null 2>&1
        echo "Sourcing $1"
    fi
}

# Oh My Zsh configuration.
export ZSH_CUSTOM=$HOME/.oh-my-zsh/custom
export ZSH="$HOME/.oh-my-zsh"
export ZSH_THEME="jvanhare"
cp $HOME/.$ZSH_THEME.zsh-theme $ZSH_CUSTOM/$ZSH_THEME.zsh-theme
plugins=(git zsh-autosuggestions zsh-syntax-highlighting)
source $ZSH/oh-my-zsh.sh

{{ if eq .chezmoi.os "darwin" }}
# Specify environment for darwin. ##############################################
# Set the working directory. ###################################################
export WKDIR=$HOME/Desktop/wkdir
export ORBENV=WKDIR
# Add brew to the PATH. ########################################################
eval "$(/opt/homebrew/bin/brew shellenv)"
# Add homebrew cURL to the path. ###############################################
export PATH=$(brew --prefix curl)/bin:$PATH
# Add LLVM tools. ##############################################################
export PATH=$(brew --prefix llvm)/bin:$PATH
export CC=$(brew --prefix llvm)/bin/clang
export CXX=$(brew --prefix llvm)/bin/clang++
export LDFLAGS="-L$(brew --prefix llvm)/lib"
export CPPFLAGS="-I$(brew --prefix llvm)/include"
# Lmod environment settings. ###################################################
smart_source $(brew --prefix lmod)/init/zsh
# Specific MPI configuration on darwin. ########################################
export PMIX_MCA_gds=hash
export OMPI_MCA_btl=vader,self
# Module use. ##################################################################
module use $WKDIR/mod
{{ end }}

# Export the temporary directory. ##############################################
export TMPDIR=/tmp
# Aliases configuration. #######################################################
alias ls="ls -ltrGh --color=auto"
# Guix configuration. ##########################################################
GUIX_PROFILE="$HOME/.config/guix/current"
smart_source $GUIX_PROFILE/etc/profile
# EOF. #########################################################################
