# Set the language environment. ################################################
export LANG=en_US.UTF-8
# Set the oh-my-zsh theme. #####################################################
THEME=romkatv/powerlevel10k
# Antigen setup. ###############################################################
source $HOME/.antigen.zsh
antigen use oh-my-zsh
antigen bundle git
antigen bundle pip
antigen bundle command-not-found
antigen bundle docker
antigen bundle colorize
antigen bundle magic-enter
antigen bundle safe-paste
antigen bundle zsh-users/zsh-syntax-highlighting
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-completions
antigen bundle ael-code/zsh-colored-man-pages
antigen bundle supercrabtree/k
antigen bundle bobthecow/git-flow-completion
[[ `antigen list | grep $THEME | wc -l` -gt 0 ]] || antigen theme $THEME
antigen apply
# Enable Powerlevel10k instant prompt. #########################################
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
    source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi
# Uncomment the following line to disable bi-weekly auto-update checks. ########
DISABLE_AUTO_UPDATE="true"
# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh. ###############
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

# Aliases configuration. #######################################################
alias ls="ls -ltrGh --color=auto"

# Source if and only if the file exists. #######################################
smart_source() {
    if [[ -f "$1" ]]; then
        source "$1" >/dev/null 2>&1
        echo "Sourcing $1."
    fi
}

# Set useful environment variables. ############################################
{{ if eq .chezmoi.hostname "heimdall" }}
# Set the working directory. ###################################################
export WKDIR=$HOME/Desktop/wkdir
# Specific MPI configuration on darwin. ########################################
export PMIX_MCA_gds=hash
export OMPI_MCA_btl=vader,self
# Add brew to the PATH. ########################################################
eval "$(/opt/homebrew/bin/brew shellenv)"
# Add ViZiR4 to the path. ######################################################
export PATH=/Applications/vizir4.app/Contents/MacOS:$PATH
# Add homebrew cURL to the path. ###############################################
export PATH=$HOMEBREW_PREFIX/opt/curl/bin:$PATH
# Modules environment settings. ################################################
smart_source /opt/homebrew/opt/lmod/init/zsh
{{ else }}
# Set the working directory. ###################################################
export WKDIR=$HOME
{{ end }}

{{ if eq .chezmoi.hostname "vairon" }}
export PATH=/opt/homebrew/bin:$PATH
export PATH=/opt/homebrew/Cellar/llvm/15.0.7_1/bin:$PATH
{{ end }}

# Define standard directories. #################################################
export TMPDIR=/tmp
export BINDIR=$WKDIR/bin
export INCLUDEDIR=$WKDIR/include
export LIBDIR=$WKDIR/lib
export SHAREDIR=$WKDIR/share
export SRCDIR=$WKDIR/src
export PATH=$BINDIR:$PATH

# Run CTEST in parallel. #######################################################
export CTEST_PARALLEL_LEVEL=8

# Address sanitizer and memory leaks detection. ################################
export ASAN_OPTIONS="detect_leaks=1"
export LSAN_OPTIONS="suppressions=$HOME/.lsan:print_suppressions=false"

# EOF. #########################################################################
