#!/bin/sh

# Setup brew: the missing package manager for MacOS. ###########################
{{ if eq .chezmoi.hostname "heimdall" }}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
eval "$(/opt/homebrew/bin/brew shellenv)"
brew tap homebrew/cask-fonts
brew install --quiet biber
brew install --quiet cmake
brew install --quiet curl
brew install --quiet ffmpeg
brew install --quiet font-fira-code
brew install --quiet gh
brew install --quiet git
brew install --quiet glab
brew install --quiet go
brew install --quiet imagemagick
brew install --quiet jvanhare/gamma/vizir4
brew install --quiet latexindent
brew install --quiet llvm
brew install --quiet lmod
brew install --quiet ninja
brew install --quiet node
brew install --quiet python
brew install --quiet re2c
brew install --quiet skim
brew install --quiet vim
brew install --quiet vlc
brew install --quiet wget
brew install --quiet yarn
brew install --quiet yq
brew install --quiet zsh
brew install --quiet --cask adobe-acrobat-reader
brew install --quiet --cask aquaterm
brew install --quiet --cask firefox
brew install --quiet --cask freecad
brew install --quiet --cask google-chrome
brew install --quiet --cask iterm2
brew install --quiet --cask latexit
brew install --quiet --cask skype
brew install --quiet --cask visual-studio-code
{{ end }}

# Setup antigen: the zsh package manager. ######################################
curl -L git.io/antigen >~/.antigen.zsh

# Setup the spacevim distribution. #############################################
curl -sLf https://spacevim.org/install.sh | bash

# EOF. #########################################################################
