#!/bin/sh

# Setup brew: the missing package manager for MacOS. ###########################
{{ if eq .chezmoi.os "darwin" }}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
eval "$(/opt/homebrew/bin/brew shellenv)"
brew tap homebrew/cask-fonts
brew install --quiet biber
brew install --quiet bison
brew install --quiet cmake
brew install --quiet curl
brew install --quiet ffmpeg
brew install --quiet font-fira-code
brew install --quiet gcc@12
brew install --quiet gh
brew install --quiet git
brew install --quiet git-flow-avh
brew install --quiet gmsh
brew install --quiet gnuplot
brew install --quiet gomplate
brew install --quiet homebrew/cask/docker
brew install --quiet imagemagick
brew install --quiet java
brew install --quiet jvanhare/gamma/vizir4
brew install --quiet latexindent
brew install --quiet libedit
brew install --quiet libx11
brew install --quiet llvm
brew install --quiet lmod
brew install --quiet ninja
brew install --quiet ncurses
brew install --quiet node
brew install --quiet octave
brew install --quiet pandoc
brew install --quiet pandoc-crossref
brew install --quiet patchelf
brew install --quiet python
brew install --quiet re2c
brew install --quiet rust
brew install --quiet skim
brew install --quiet tcl-tk
brew install --quiet tokei
brew install --quiet vim
brew install --quiet vips
brew install --quiet vlc
brew install --quiet wget
brew install --quiet yarn
brew install --quiet yq
brew install --quiet zsh
brew install --quiet --cask adobe-acrobat-reader
brew install --quiet --cask aquaterm
brew install --quiet --cask firefox
brew install --quiet --cask freecad
brew install --quiet --cask google-chrome
brew install --quiet --cask iterm2
brew install --quiet --cask latexit
brew install --quiet --cask maccy
brew install --quiet --cask omnigraffle
brew install --quiet --cask skype
brew install --quiet --cask texshop
brew install --quiet --cask textmate
brew install --quiet --cask transmit
brew install --quiet --cask visual-studio-code
{{ end }}

# Setup CI fedora machine. #####################################################
{{ if eq .machine "linux-fedora" }}
curl -L "https://packages.gitlab.com/install/repositories/runner/gitlab-runner/script.rpm.sh" | bash
sudo yum update
sudo yum install bison cmake curl gcc git ninja-build node vim zsh gitlab-runner
sudo dnf -y install dnf-plugins-core
sudo dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo
sudo dnf install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin
{{ end }}

# Setup antigen: the zsh package manager. ######################################
curl -L git.io/antigen >~/.antigen.zsh

# Setup the spacevim distribution. #############################################
curl -sLf https://spacevim.org/install.sh | bash

# EOF. #########################################################################
