#!/bin/sh

{{- if contains "freyja" .chezmoi.hostname }}
# Install brew packages on MacOs freyja.
brew install zsh
brew install git
brew install git-flow
brew install vim
brew install ninja
brew install cmake
brew install cppcheck
brew install clang-format
brew install font-fira-code
brew install gcc
brew install lcov
brew install doxygen
brew install python
brew install open-mpi
brew install hdf5-mpi
brew install lapack
brew install gmsh
brew install pandoc
brew install pandoc-crossref
brew install ffmpeg
brew install imagemagick

# Install Python packages.
pip3 install virtualenvwrapper
export WORKON_HOME=~/.virtualenvs
source /usr/local/bin/virtualenvwrapper.sh
mkvirtualenv -p /usr/local/bin/python3 base
workon base
pip install numpy scipy sympy matplotlib mpi4py ipython 
pip install pygments cmakelang build tox black rich
pip install typer jinja2 pathlib pytomlpp xmltodict
pip install traitlets flatdict

{{- end }}

# EOF.
