#!/bin/sh

# STEP 1: Generate the machine configuration to obtain a standalone script. ####
{{- if contains "spiro" .chezmoi.hostname }}
# Export proxy for git clone, wget, etc at ONERA. ##############################
module purge
module load python/3.6.1
export http_proxy=http://proxy.onera:80
export https_proxy=http://proxy.onera:80
export no_proxy=.onera.net,.onera.fr,.onecert.fr
{{- end }}

# STEP 2: Install. #############################################################
# Install antigen: the zsh package manager. ####################################
curl -L git.io/antigen > ~/.antigen.zsh
# Install the spacevim distribution. ###########################################
curl -sLf https://spacevim.org/install.sh | bash
# Install poetry: the python packaging and dependency management made easy. ####
curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python3 -

{{- if contains "freyja" .chezmoi.hostname }}
# Install brew on MacOs freyja. ################################################
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
# Install brew packages on MacOs freyja. #######################################
brew install zsh git wget vim font-fira-code gcc
brew install python python@3.9 python@3.8 python@3.7
brew install imagemagick ffmpeg pandoc pandoc-crossref
{{- end }}

{{- if contains "ldmpe055z" .chezmoi.hostname }}
# Install vizir on CentOS 8 ldmpe055z. #########################################
cd /stck/$USER/wkdir/ldmpe055z/bin
wget --no-check-certificate https://pyamg.saclay.inria.fr/download/vizir/exes/Linux/vizir4_centos.2021.07.06.tar.gz
tar xzvf vizir4_centos.2021.07.06.tar.gz
rm vizir4_centos.2021.07.06.tar.gz
{{- end }}

{{- if contains "spiro" .chezmoi.hostname }}
# Install ZSH on CentOS 7 spiro. ###############################################
cd /stck/$USER/wkdir/src
if [[ -d "zsh" ]]
then
    rm -fr zsh
fi
git clone https://github.com/zsh-users/zsh.git
cd zsh
git checkout zsh-5.8
./Util/preconfig
./configure --prefix=/stck/$USER/wkdir/spiro
make -j48 install
cd ..
rm -fr zsh
{{- end }}

# EOF. #########################################################################
