#!/bin/sh

# STEP 0: Define usefull functions. ############################################
# Install function for gitflow. ################################################
install_gitflow() {
    cd $1
    wget -q https://raw.githubusercontent.com/petervanderdoes/gitflow-avh/develop/contrib/gitflow-installer.sh
    PREFIX=$1 bash gitflow-installer.sh install stable
    rm -fr gitflow-installer.sh gitflow
}

# STEP 1: Generate the machine configuration to obtain a standalone script. ####
{{- if contains "spiro" .chezmoi.hostname }}
# Export proxy for git clone, wget, etc at ONERA. ##############################
module purge
module load python/3.6.1
export http_proxy=http://proxy.onera:80
export https_proxy=http://proxy.onera:80
export no_proxy=.onera.net,.onera.fr,.onecert.fr
{{- end }}

# STEP 2: Install. #############################################################
{{- if contains "freyja" .chezmoi.hostname }}
# Install brew on MacOs freyja. ################################################
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
# Install brew packages on MacOs freyja. #######################################
brew install zsh git wget vim font-fira-code gcc lmod git-flow-avh
brew install python python@3.9 python@3.8 python@3.7
brew install imagemagick ffmpeg pandoc pandoc-crossref
{{- end }}

{{- if contains "ldmpe055z" .chezmoi.hostname }}
# Install gitflow on CentOS 8 ldmpe055z. #######################################
install_gitflow /stck/$USER/wkdir/ldmpe055z
# Install vizir on CentOS 8 ldmpe055z. #########################################
cd /stck/$USER/wkdir/ldmpe055z/bin
wget --no-check-certificate https://pyamg.saclay.inria.fr/download/vizir/exes/Linux/vizir4_centos.2021.07.06.tar.gz
tar xzvf vizir4_centos.2021.07.06.tar.gz
rm vizir4_centos.2021.07.06.tar.gz
{{- end }}

{{- if contains "spiro" .chezmoi.hostname }}
# Install gitflow on CentOS 7 spiro. ###########################################
install_gitflow /stck/$USER/wkdir/spiro
# Install ZSH on CentOS 7 spiro. ###############################################
cd /stck/$USER/wkdir/src
if [[ -d "zsh" ]]
then
    rm -fr zsh
fi
git clone https://github.com/zsh-users/zsh.git
cd zsh
git checkout zsh-5.8
./Util/preconfig
./configure --prefix=/stck/$USER/wkdir/spiro
make -j48 install
cd ..
rm -fr zsh
{{- end }}

{{ if (eq .chezmoi.os "linux") }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# WSL Ubuntu install. ##########################################################
sudo apt-get install -y zsh git wget curl vim gcc lmod python python3.8-venv
sudo apt-get install -y imagemagick ffmpeg pandoc
sudo apt-get install -y fontconfig xfonts-utils x11-apps
sudo apt-get install -y gcc-8 g++-8 gcc-9 g++-9 gcc-10 g++-10
sudo apt-get install -y gfortran-8 gfortran-9 gfortran-10
install_gitflow $HOME/wkdir
cd /tmp
wget https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
sudo apt-key add GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
rm GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB
sudo add-apt-repository "deb https://apt.repos.intel.com/oneapi all main"
sudo apt-get install -y intel-basekit intel-hpckit
sudo chsh -s `which zsh`
{{   end }}
{{ end }}

# Install antigen: the zsh package manager. ####################################
curl -L git.io/antigen > ~/.antigen.zsh
# Install the spacevim distribution. ###########################################
curl -sLf https://spacevim.org/install.sh | bash
# Install poetry: the python packaging and dependency management made easy. ####
curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python3 -

# EOF. #########################################################################
