{{- if contains "freyja" .chezmoi.hostname }}
# MacOs freyja compilers configuration.
compilers:
- compiler:
    spec: gcc@11.2.0
    paths:
      cc: /usr/local/bin/gcc-11
      cxx: /usr/local/bin/g++-11
      f77: /usr/local/bin/gfortran-11
      fc: /usr/local/bin/gfortran-11
    flags: {}
    operating_system: bigsur
    target: x86_64
    modules: []
    environment: {}
    extra_rpaths: []
{{- end }}
