{{- if contains "freyja" .chezmoi.hostname }}
packages:
    # On MacOS, Python only compiles with the Apple Clang compiler.
    python:
      externals:
      - spec: python @3.9.9
        prefix: /usr/local/Cellar/python@3.9/3.9.9
      buildable: false
    # On Mac0S, findutils does not compile so install it with brew which contains the necessary patches.
    findutils:
      externals:
      - spec: findutils @4.8.0
        prefix: /usr/local/opt/findutils/libexec/gnubin
      buildable: false
    vim:
      externals:
      - spec: vim @8.2.4050
        prefix: /usr/local/Cellar/vim/8.2.4050
      buildable: false
{{- end }}
