{{- if contains "freyja" .chezmoi.hostname }}
# On MacOS, some packages (Python and system libraries for example) can not be easily compiled.
# So, they are installed with brew which contains the necessary patches.
# Python only compiles with the Apple Clang compiler.
packages:
  all:
     providers:
      lapack: [netlib-lapack]
  git:
    externals:
    - spec: git @2.35.1
      prefix: /usr/local/Cellar/git/2.35.1
    buildable: false
  vim:
    externals:
    - spec: vim @8.2.4600
      prefix: /usr/local/Cellar/vim/8.2.4600
    buildable: false
  python:
    externals:
    - spec: python @3.10.2
      prefix: /usr/local/Cellar/python@3.10/3.10.2
    buildable: false
  findutils:
    externals:
    - spec: findutils @4.8.0
      prefix: /usr/local/opt/findutils/libexec/gnubin
    buildable: false
  cmake:
    externals:
    - spec: cmake @3.22.1
      prefix: /usr/local/Cellar/cmake/3.22.1
    buildable: false
  libevent:
    externals:
    - spec: libevent @2.1.12
      prefix: /usr/local/Cellar/libevent/2.1.12
    buildable: false
  flex:
    externals:
    - spec: flex @2.6.4
      prefix: /usr/local/Cellar/flex/2.6.4_2
    buildable: false
  doxygen:
    externals:
    - spec: doxygen @1.9.3
      prefix: /usr/local/Cellar/doxygen/1.9.3_1
    buildable: false
  llvm:
    externals:
    - spec: llvm @13.0.0
      prefix: /usr/local/Cellar/llvm/13.0.0_2
    buildable: false
  pkg-config:
    externals:
    - spec: pkg-config @0.29.2
      prefix: /usr/local/Cellar/pkg-config/0.29.2_3
    buildable: false
{{- end }}

{{- if contains "ldmpe" .chezmoi.hostname }}
packages:
  openmpi:
    externals:
    - spec: openmpi@4.0.5%gcc@10.2.0
      prefix: /opt/tools/openmpi/4.0.5-gnu1020
    buildable: false
  intel-oneapi-mpi:
    externals:
    - spec: intel-oneapi-mpi@2021.2.0%intel@2021.2.0
      prefix: /opt/tools/intel/oneapi/2021.2.0
      modules: [impi/21.2.0]
    buildable: false
{{- end }}
