{{ if eq .chezmoi.hostname "heimdall" }}
# INRIA bastion. ###############################################################
Host ssh-sif
HostName ssh-sif.inria.fr

Host *.inria.fr !gitlab.inria.fr
ProxyJump ssh-sif

# INRIA PlaFRIM. ###############################################################
Host ssh.plafrim.fr
IdentityFile ~/.ssh/id_rsa
IdentitiesOnly yes

Host plafrim
ForwardAgent yes
ForwardX11 yes
User jvanhare
ProxyCommand ssh -A -l jvanhare ssh.plafrim.fr -W plafrim:22

# EOF. #########################################################################
{{ end }}
