# Source if and only if the file exists. #######################################
smart_source() {
    if [[ -f "$1" ]]; then
        source "$1" > /dev/null 2>&1 
        echo "Sourcing $1."
    fi
}

{{ if eq .chezmoi.os "darwin" }}
# DARWIN CONFIGURATION. ########################################################
export WKDIR=$HOME/Desktop/wkdir
# Modules environment settings. ################################################
smart_source /usr/local/opt/lmod/init/profile
# Specific MPI configuration on darwin. ########################################
export PMIX_MCA_gds=hash
export OMPI_MCA_btl=vader,self
# ##############################################################################
{{ end }}

# Define my own standard directories. ##########################################
export BINDIR=$WKDIR/bin
export INCLUDEDIR=$WKDIR/include
export LIBDIR=$WKDIR/lib
export SHAREDIR=$WKDIR/share
export SRCDIR=$WKDIR/src
export PATH=$BINDIR:$PATH

# Golang environment. ##########################################################
export GOPATH=$WKDIR
export GOBIN=$BIN

# Address sanitizer and memory leaks detection. ################################
export ASAN_OPTIONS="detect_leaks=1"
export LSAN_OPTIONS="suppressions=$HOME/.lsan:print_suppressions=false"

# Spack environment settings. ##################################################
smart_source $SRCDIR/spack/share/spack/setup-env.sh

# Add ViZiR4 to the path. ######################################################
export PATH=/Applications/vizir4.app/Contents/MacOS:$PATH

# Add cURL compiled by brew with OpenSSL to path. ##############################
export PATH=/usr/local/opt/curl/bin:$PATH
