# Standard directories. ########################################################
export BIN=$WKDIR/bin
export INCLUDE=$WKDIR/include
export LIB=$WKDIR/lib
export SHARE=$WKDIR/share
export SRC=$WKDIR/src

export PATH=$BIN:$PATH
export GOPATH=$WKDIR
export GOBIN=$BIN
# EOF. #########################################################################
