# Source if and only if the file exists. #######################################
smart_source() {
    if [[ -f "$1" ]]; then
        source "$1" >/dev/null 2>&1
        echo "Sourcing $1."
    fi
}

{{ if eq .chezmoi.hostname "heimdall" }}
export WKDIR=$HOME/Desktop/wkdir
{{ else }}
export WKDIR=$HOME/wkdir
{{ end }}

{{ if eq .chezmoi.hostname "heimdall" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
# Modules environment settings. ################################################
smart_source /opt/homebrew/opt/lmod/init/zsh
# Specific MPI configuration on darwin. ########################################
export PMIX_MCA_gds=hash
export OMPI_MCA_btl=vader,self
# Set the temporary directory. #################################################
export TMPDIR=/tmp
# Add homebrew cURL to the path. ###############################################
export PATH=$HOMEBREW_PREFIX/opt/curl/bin:$PATH
# Add LLVM binaries to the path. ###############################################
export PATH=$HOMEBREW_PREFIX/opt/llvm/bin:$PATH
# Add ViZiR4 to the path. ######################################################
export PATH=/Applications/vizir4.app/Contents/MacOS:$PATH
# ##############################################################################
{{ end }}

# Define my own standard directories. ##########################################
export BINDIR=$WKDIR/bin
export INCLUDEDIR=$WKDIR/include
export LIBDIR=$WKDIR/lib
export SHAREDIR=$WKDIR/share
export SRCDIR=$WKDIR/src
export PATH=$BINDIR:$PATH

# Address sanitizer and memory leaks detection. ################################
export ASAN_OPTIONS="detect_leaks=1"
export LSAN_OPTIONS="suppressions=$HOME/.lsan:print_suppressions=false"
export MallocNanoZone=0

# Spack environment settings. ##################################################
smart_source $SRCDIR/spack/share/spack/setup-env.sh
