# Setup clang-format on CentOS 8 ldmpe055z. ##################################
cd /stck/$USER/wkdir/ldmpe055z/bin
wget https://github.com/llvm/llvm-project/releases/download/llvmorg-13.0.0/clang+llvm-13.0.0-x86_64-linux-gnu-ubuntu-20.04.tar.xz
tar xf clang+llvm-13.0.0-x86_64-linux-gnu-ubuntu-20.04.tar.xz
cp clang+llvm-13.0.0-x86_64-linux-gnu-ubuntu-20.04/bin/clang-format .
rm clang+llvm-13.0.0-x86_64-linux-gnu-ubuntu-20.04.tar.xz
rm -fr clang+llvm-13.0.0-x86_64-linux-gnu-ubuntu-20.04

# Setup vizir on CentOS 8 ldmpe055z. ###########################################
cd /stck/$USER/wkdir/ldmpe055z/bin
wget --no-check-certificate https://pyamg.saclay.inria.fr/download/vizir/exes/Linux/vizir4_centos.2021.07.06.tar.gz
tar xzvf vizir4_centos.2021.07.06.tar.gz
cp vizir4_centos.2021.07.06/vizir4 .
rm vizir4_centos.2021.07.06.tar.gz
rm -fr vizir4_centos.2021.07.06

# EOF. #########################################################################
