# Setup brew on Darwin. ########################################################
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

# Setup brew packages on Darwin. ###############################################
brew install zsh git curl vim gcc lmod findutils cmake flex llvm node@16 tokei
brew install vlc skim texlive latexindent imagemagick ffmpeg gh yarn ninja go
brew install doxygen git-flow-avh font-fira-code pandoc pandoc-crossref
brew install --cask iterm2
brew install --cask visual-studio-code

# Install global JavaScript modules. ###########################################
npm install -g gatsby-cli

# Setup ViZiR4 on Darwin. ######################################################
cd $HOME/Downloads
LATEST_VIZIR=$(curl -s https://pyamg.saclay.inria.fr/download/vizir/exes/Mac/ | grep -o '<a href="vizir.*">' | sed -e "s/<a href=\"//g" | sed -e "s/\">vizir.*//g" | sort -nr | head -1)
curl https://pyamg.saclay.inria.fr/download/vizir/exes/Mac/$LATEST_VIZIR --output vizir4.dmg
hdiutil mount vizir4.dmg
sudo cp -r /Volumes/vizir4/vizir4.app /Applications
hdiutil unmount "/Volumes/vizir4"
rm vizir4.dmg

# Setup directories on Darwin. #################################################
{{ template "export.darwin.tmpl" . }}
mkdir -p $WKDIR
mkdir -p $BIN $INCLUDE $LIB $SHARE $SRC

# Setup Spack on Darwin. #######################################################
test -d $SRC/spack && echo "Spack is already installed" || git clone -c feature.manyFiles=true https://github.com/spack/spack.git $SRC/spack
test -d $SRC/spack && source $SRC/spack/share/spack/setup-env.sh
test -d $SRC/spack && spack compilers
test -d $SRC/spack && spack external find --not-buildable git vim python findutils cmake libevent flex doxygen llvm pkg-config

# EOF. #########################################################################
