# Get my environment variables. ################################################
{{ template "export.tmpl" . }}

# Making directories. ##########################################################
mkdir -p $WKDIR $BINDIR $INCLUDEDIR $LIBDIR $SHAREDIR $SRCDIR

{{ if eq .chezmoi.os "darwin" }}
# DARWIN CONFIGURATION. ########################################################
# Install the XCode Command Line Tools
xcode-select --install
sudo softwareupdate --install-rosetta
# Install brew on Darwin. ######################################################
if ! command -v brew &>/dev/null; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi
# Install brew packages on Darwin. #############################################
brew tap homebrew/cask-fonts
brew install --quiet findutils flex mesa libx11 imagemagick ffmpeg libiconv
brew install --quiet zsh git curl vim cmake ninja doxygen git-flow-avh lmod
brew install --quiet tokei gh gatsby-cli
brew install --quiet gcc@12 gcc@11 docker patchelf clingo libsigsegv
brew install --quiet llvm llvm@14 llvm@13 llvm@12 llvm@11
brew install --quiet python go rust node@16 yarn tcl-tk octave gmsh gnuplot
brew install --quiet font-fira-code
brew install --quiet vlc skim texlive latexindent pandoc pandoc-crossref
brew install --quiet jvanhare/gamma/vizir4
brew install --quiet --cask iterm2 visual-studio-code omnigraffle textmate
brew install --quiet --cask transmit adobe-acrobat-reader aquaterm firefox
brew install --quiet --cask google-chrome latexit skype texshop
# ##############################################################################
{{ end }}

# Installing spack. ############################################################
{{ template "spack.tmpl" . }}
