if [[ ! -d "$SRC/spack" ]]; then
    git clone -c feature.manyFiles=true https://github.com/spack/spack.git $SRC/spack
fi
spack compiler find /usr/local/opt/*
spack external find --not-buildable --all

{{ if eq .chezmoi.os "darwin" }}
spack external find --not-buildable --all /usr/local/opt/llvm*(P:-p:)
{{ end }}
