if [[ -d "$SRC/spack" ]]; then
    git clone -c feature.manyFiles=true https://github.com/spack/spack.git $SRC/spack
fi

# Setup Spack on Darwin. #######################################################
# test -d $SRC/spack && echo "Spack is already installed." || git clone -c feature.manyFiles=true https://github.com/spack/spack.git $SRC/spack
# test -d $SRC/spack && source $SRC/spack/share/spack/setup-env.sh
# test -d $SRC/spack && spack compiler find
# test -d $SRC/spack && spack compilers
# test -d $SRC/spack && spack external find --not-buildable git vim python findutils cmake libevent flex doxygen llvm pkg-config

# EOF. #########################################################################
