{{- if contains "ldmpe" .chezmoi.hostname }}
compilers:
- compiler:
    spec: gcc@10.2.0
    paths:
      cc: /opt/tools/gcc/10.2.0/bin/gcc
      cxx: /opt/tools/gcc/10.2.0/bin/g++
      f77: /opt/tools/gcc/10.2.0/bin/gfortran
      fc: /opt/tools/gcc/10.2.0/bin/gfortran
    flags: {}
    operating_system: centos8
    target: x86_64
    modules: [gcc/10.2.0]
    environment: {}
    extra_rpaths: []
- compiler:
    spec: intel@2021.2.0
    paths:
      cc: /opt/tools/intel/oneapi/2021.2.0/compiler/2021.2.0/linux/bin/intel64/icc
      cxx: /opt/tools/intel/oneapi/2021.2.0/compiler/2021.2.0/linux/bin/intel64/icpc
      f77: /opt/tools/intel/oneapi/2021.2.0/compiler/2021.2.0/linux/bin/intel64/ifort
      fc: /opt/tools/intel/oneapi/2021.2.0/compiler/2021.2.0/linux/bin/intel64/ifort
    flags: {}
    operating_system: centos8
    target: x86_64
    modules: []
    environment: {}
    extra_rpaths: []
{{- end }}
